/*Home Page*/
.centered {
    color: #292929;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backi img {
    width: 100%;
    height: 60%;
    background-size: cover;
    opacity: 0.6;
}

/*all font*/

* {
    font-family: 'Dream Avenue';
}

/*all liinks*/
a {
    text-decoration: none;
    color: #292929;

}

h1,
p {
    font-family: 'Poppins', sans-serif;
}

h1 {
    text-align: center;
}

body {
    overflow-x: hidden;
    background-image: linear-gradient( to bottom, #e4e2dd, beige );
}

/* header section*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #e4e2dd;
    width: 100%; /* Ensure full width */
    margin: 0;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #292929;
    padding: 5px;
    margin: 5px;
}

.search-box input[type="text"] {
    border: none;
    padding: 5px;
}

.search-button {
    border: none;
    background-color: #e4e2dd;
    color: #333;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 10px;
}

.login-button {
    border: 1px solid #292929;
    background-color: #e4e2dd;
    color: #292929;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.cart-button {
    font-size: 24px;
    color: #292929;
    text-decoration: none;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: #292929;
}


/* footer section */
footer {
    background-color: #e4e2dd;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
}

/* login page*/

.login {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.container h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.container button {
    padding: 10px 20px;
}

/* cart style*/

.cart {
    padding: 20px;
}

.container h2 {
    text-align: center;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
}

.cart-items img {
    max-width: 100%;
    height: auto;
}

.cart-items h4 {
    margin-top: 0;
}

.cart-items p {
    margin-bottom: 10px;
}

.cart-items .delete-button {
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}

.quantity {
    display: flex;
    align-items: center;
}

.quantity-button {
    border: 1px solid #ccc;
    width: 30px;
    height: 30px;
    background-color: #f8f8f8;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

.quantity-input {
    width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 10px;
}

.summary-card {
    border: 1px solid #ccc;
    padding: 20px;
}

.summary-card .card-header {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.summary-card p {
    margin-bottom: 10px;
}

.summary-card hr {
    margin: 10px 0;
}

.btn-checkout {
    width: 100%;
}

h2 {
    display: block;
    border-radius: 5px;
    border: 1px solid beige;
    margin: 10px;
    text-align: center;
}